
<h1>Edit Location: </h1>
<% if @location.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

    <ul>
      <% @location.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@location) do |f| %>
  <%= render partial: "form", locals: { f: f } %>
  <h3>Add Fish:</h3>
  <%= f.fields_for :fish do |s| %>
    <%= s.label :price %>
    <%= s.number_field :price, step: 0.01%><br/>
    <%= s.label :condition %>
    <%= s.text_field :condition %><br/>
    <%= s.label :color %>
    <%= s.text_field :color  %><br/>
    <hr>
  <% end %>
  <%= f.submit %>
  <% end %>